<ion-header [translucent]="true">
<!--     <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
            <img class="toolbarLogo" src="assets/MENU/LOGOPIMU.png" alt="" />
    </ion-toolbar> -->
    <app-header></app-header>
</ion-header>

<div class="logBox">
    <div style="width: 100%;">
    <img class="pageImg" src="assets/14 -video/video.png" alt="video">

    <form [formGroup]="buscarVideos">
        <div class="formContent">
            <div class="formInput nombreArtista">
                <label for="">Nombre del Video</label>
                <input class="lInput" type="text" formControlName="nombre" name="" />
            </div>
        </div>
        <button type="button" class="formButton" (click)="buscar()">
        <p>BUSCAR</p>
        </button>
    </form>
    </div>

    <div *ngIf="isResultados" style="width: 100%;">
    <p class="resultadosTitle">Resultados de búsqueda</p>    
    <div class="contentBox" *ngFor="let video of videos">
        <div class="contentItem">
            <iframe 
            class="videoFrame"
            [src]="sanitize(video.link)" 
            frameborder="0" 
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen></iframe>
        </div>
        <div class="outBox">
            <div class="musicItem">
                <img src="assets/14 -video/musica.png" alt="musica" (click)="mostrarCanciones()"/>
            </div>
            <div class="musicItem">
                <img src="assets/14 -video/perfil.png" alt="perfil" (click)="mostrarperfil()"/>
            </div>
        </div>
    </div>
    </div>
</div>

