.theRatingBox {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    height: 25px;
    background-color: #F24E2B;
    border-radius: 42px;
    padding-left: 5px;
    padding-right: 5px;    
}

.theRatingBox img {
    width: 16px;
    height: 16px;
    margin-left: 1px;
    margin-right: 1px;
}

.selectRating{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
}

.selectRating .theRatingBox{
    width: 120px;
    padding-left: 5px;
    padding-right: 5px;   
}

.actionButton {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    height: 20px;
    width: 50px;
    color: black;
    margin-left: 5px;
    border-radius: 42px;
    cursor: pointer;
}

.actionButton:hover {
    background-color: white;
}

.actionButton:active {
    background-color: white;
}

.actionButton p {
    color: white !important;
    margin: 0;
    font-size: 10px !important;
    border: none !important;
    background-color: transparent !important;
    font-weight: bold;
    min-width: 10px !important;
    width: 100% !important;
    text-decoration: none !important;
}

.actionButton:hover p {
    color: #c1272d;
}

