.formTerminos {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  margin-top: 3vh;
  width: 70%;
}

.titleText{
  font-size: 18px;
  font-weight: bold;
  color: black;
}

.formTerminos p {
  margin: 0;
  cursor: pointer;
  font-size: 12px;
  text-align: center;
  color: black;
  text-decoration: underline;
}
