<ion-header [translucent]="true">
    <app-header></app-header>
</ion-header>

<ion-content>
        <div class="logBox">
            <div class="registroFilter">
                <img class="pageImg" src="assets/4- lista de usuarios/lista usuarios.png"/>
                <app-form-usuarios [editMode]="0"></app-form-usuarios>
            </div>
        </div>     
</ion-content>