<ion-header [translucent]="true">
    <app-header></app-header>
</ion-header>

<ion-content>
        <div class="logBox">
            <div class="listaFilter">
                <img class="pageImg" src="assets/10- lista de genros/lista de genros.png" alt="musica">
                <form [formGroup]="buscarGenero">
                    <div class="formContent">
                    <div class="formInput">
                        <label for="">Nombre del Género</label>
                        <input
                        class="lInput"
                        type="text"
                        formControlName="nombre"
                        name=""
                        />
                    </div>

                    <button type="button" class="formButton" (click)="filtrarGenero()">
                        <p>FILTRAR</p>
                    </button>
                    </div>
                </form>
                <app-lista [fields]="fields" [values]="generos" (habilitar)="habilitarGenero($event)" (eliminar)="eliminarGenero($event)"  (editar)="editarGenero($event)" style="width: 100%;"></app-lista>
            </div>
    </div>
</ion-content>