
.backBox {
    width: 80px;
    position: absolute;
    top: 10px;
    left: 10px;
}

.imgList {
    height: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.verBox {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 90%;
    background-color: white;
    left: 50%;
    transform: translatex(-50%)
}

.verBox .starsBox {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 120px;/* 
    background-color: #F24E2B;
    border-radius: 42px; */
}

.contactItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 42%;
}

.contactItem img{
    width: 30%;
}

.detailsCBox {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    margin-left: 10px;
    flex-wrap: wrap;
}

.detailsDBox {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    margin-left: 10px;
    flex-wrap: wrap;
    margin-top: 40px;
    margin-bottom: 40px;
}

.musicItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 15px;
}

.musicItem img{
    height: 25vw;
    width: auto;
}
.detailsCBox p {
    font-size: 10px;
    font-weight: bolder;
    width: 100%;
    color: #F24E2B;
}

.detailsABox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10px;
    margin-bottom: 15px;
}

.detailTitle{
    color: #F24E2B;
    margin-bottom: 5px !important;
    font-weight: bolder;
}

.detailContent{
    color: black !important;
    margin-bottom: 15px !important;
    font-size: 10px;
    text-align: center;
}

.detailsABox p {
    font-size: 14px;
    width: 100%;
    margin: 0;
}

.detailsBBox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: #F24E2B;
    border-radius: 23px;

}

.detailsBBox p {
    font-size: 12px;
    width: 100%;
}

.linksBox {
    width: 100%;
}

.linkTitle {
    font-size: 10px;
    font-weight: 900;
    width: 100%;
    margin: 0;
    color: #F24E2B;
    text-align: center;
}

.linksList {
    display: flex;
    flex-direction: column;
}

.linkListTitle {
    color: white;
    background-color: #F24E2B;
    font-weight: bolder;
    font-size: 10px;
    width: 100%;
    margin: 0;
    text-align: center;
}

.linkName {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 10px;
    font-weight: bolder;
}

.ratingBox {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    margin-top: 10px;
    padding-bottom: 10px;
}

.ratingBox p {
    font-size: 10px;
    font-weight: bolder;
    text-align: center;
    color: #F24E2B;
    margin-right: 5px;
    width: 70%;
}

.ratingBox .starsBox {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;/*
    height: 25px;
    background-color: #F24E2B;
    border-radius: 42px; */
}

.imgArrow {
    width: 40px;
}

.arrowBox{
    width: 40px;
}


.artistaImg {
    width: 150px;
    margin-left: 23px;
    margin-right: 23px;
}

.hideBox{
    display: none;
}