<ion-header [translucent]="true">
    <app-header></app-header>
</ion-header>

<ion-content>
        <div class="logBox">
            <div class="listaFilter">
                <img class="pageImg" src="assets/14- lista politicas/politica.png" alt="musica">
                <form [formGroup]="buscarPolitica">
                    <div class="formContent">
                    <div class="formInput">
                        <label style="width: 60%; white-space: normal" for=""
                        >Nombre de Política</label
                        >
                        <input
                        class="lInput"
                        type="text"
                        formControlName="nombre"
                        name=""
                        />
                    </div>

                    <button type="button" class="formButton" (click)="filtrarPolitica()">
                        <p>FILTRAR</p>
                    </button>
                    </div>
                </form>
            </div>
            <app-lista [fields]="fields" [values]="politicas" (habilitar)="habilitarPolitica($event)" (eliminar)="eliminarPolitica($event)"  (editar)="editarPolitica($event)" style="width: 100%;"></app-lista>
    </div>
</ion-content>