.toolbarLogo{
    height: 56px;
    z-index: 10;
    background-color:  #F24E2B;
    position: absolute;
    top: 8px;
    right: 9px;
}

.circularBox{
    background-color:  #F24E2B;
    position: absolute;
    border-radius: 84px;
    top: 0;
    right: -2px;
    z-index: 5;
    width:82px;
    height:84px;
}

form{
    width: 75%;
}

.lInput {
    color: black;
    width: 100%;
    z-index: 10;
    font-size: 16px;
    padding-left: 16px;
    border-radius: 42px;
    border-style: solid;
    border-color:  #F24E2B;
    border-width: 2px;
    height: 30px;
    background-image: none;
    background-color: white;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.searchIcon{
    position: absolute;
    height: 23px;
    right: 10px;
    top: 3px;
}

.formInput{
    position: relative;
    width: 100%;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-size:6px;
  color:  #F24E2B;
  line-height: 30px;
  transform:translate3d(0,-2px,0)
}
::-moz-placeholder { /* Firefox 19+ */
  font-size:6px;
  color:  #F24E2B;
  line-height: 30px;
  transform:translate3d(0,-2px,0)
}
:-ms-input-placeholder { /* IE 10+ */
  font-size:6px;
  color:  #F24E2B;
  line-height: 30px;
  transform:translate3d(0,-2px,0)
}
:-moz-placeholder { /* Firefox 18- */
  font-size:6px;
  color:  #F24E2B;
  line-height: 30px;
  transform:translate3d(0,-2px,0)
}