<ion-header [translucent]="true">
    <app-header></app-header>
</ion-header>

<ion-content>
        <div class="logBox">
            <div class="listaFilter">
                <img class="pageImg" src="assets/13-crear politica/politica.png"/>
                <app-form-politicas [editMode]="0"></app-form-politicas>
            </div>
        </div>
</ion-content>