<ion-header [translucent]="true">
    <app-header></app-header>
</ion-header>

<ion-content>
        <div class="logBox">
            <div class="listaFilter">
                <img class="pageImg" src="assets/9-crear genro/crear genero.png"/>
                <app-form-generos [editMode]="0"></app-form-generos>
            </div>
        </div>
</ion-content>