<ion-header [translucent]="true">
    <app-header></app-header>
</ion-header>

<ion-content>
    <div class="pageBox">
        <div class="logBox">
            <div class="logoBox">
                <img class="pageImg" src="assets/LOGIN/LOGOPISAMI.png" alt="Logo" />
            </div>
            <div class="formBox">
                <div class="textBanner">
                    <p>Bienvenido a la Plataforma Integrada de Sistemas - PISAMI</p>
                </div>
                <form [formGroup]="login" (ngSubmit)="logUser()">
                    <div class="formContent">
                        <div class="formInput">
<!--                             <label for="">Usuario</label>
 -->                            <input class="lInput" type="text" placeholder="Usuario" formControlName="username" name="username" />
                        </div>
                        <div class="errorTag" *ngIf="fLogin.username.errors?.required && (fLogin.username.touched || fLogin.username.dirty)">Este campo es requerido</div>

                        <div class="formInput">
<!--                             <label for="">Contraseña</label>
 -->                            <input class="lInput" type="password" placeholder="Contraseña" formControlName="password" name="password" />
                        </div>
                        <div class="errorTag" *ngIf="fLogin.password.errors?.required && (fLogin.password.touched || fLogin.password.dirty)">Este campo es requerido</div>

                        <div class="buttonBox">
                            <button type="submit" class="formButton">
                <p>Iniciar Sesión</p>
              </button>
                            <p class="tagLine">¿Has olvidado tu contraseña?</p>
                        </div>
                    </div>
                </form>
            </div>
            <div class="copyright">
                <p>Copyright Alcaldia Municipal de Ibague © PISAMI V2.0</p>
                <p>Todos los Derechos Reservados</p>
            </div>
        </div>
    </div>
</ion-content>
