<!-- <ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
            <img class="toolbarLogo" src="assets/MENU/LOGOPIMU.png" alt="" />
    </ion-toolbar>
    <app-header></app-header>
</ion-header> -->

<ion-content>
    <div class="pageBox">
        <div class="logBox">
            <div class="logoBox">
                <img class="pageImg" src="assets/LOGIN/LOGO.png" alt="Logo" />
            </div>
            <div class="formBox">
                <div class="textBanner">
                    <p>Iniciar sesión</p>
                </div>            
                <form [formGroup]="login" (ngSubmit)="logUser()">
                    <div class="formContent">
                        <div class="formInput">
<!--                             <label for="">Usuario</label>
 -->                            <input class="lInput" type="text" placeholder="Usuario" formControlName="username" name="username" />
                        </div>
                        <div class="errorTag" *ngIf="fLogin.username.errors?.required && (fLogin.username.touched || fLogin.username.dirty)">Este campo es requerido</div>

                        <div class="formInput">
<!--                             <label for="">Contraseña</label>
 -->                            <input class="lInput" type="password" placeholder="Contraseña" formControlName="password" name="password" />
                        </div>
                        <div class="errorTag" *ngIf="fLogin.password.errors?.required && (fLogin.password.touched || fLogin.password.dirty)">Este campo es requerido</div>

                        <div class="buttonBox">
                            <button type="submit" class="formButton">
                <p>Iniciar Sesión</p>
              </button>
                            <p class="tagLine">¿Has olvidado tu contraseña?</p>
                            <button type="button" class="formButton" (click)="registro()">
                <p>Regístrate</p>
              </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="copyright">
                <p>Copyright Alcaldia Municipal de Ibagué © PISAMI</p>
                <p>Todos los Derechos Reservados</p>
            </div>
        </div>
    </div>
</ion-content>