.pageBox {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
   
    background-image: url('/assets/1-inicio/fondologin.png');
    background-size: cover;
}

.logoBox {
    width: 35%;
}

.logoBox img {
    width: 100%;
}

.lLabel {
    margin-bottom: 0;
    margin-top: 5px;
    border-radius: 5px;
    width: 100%;
}

.formInput {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 23px;
    width: 100%;
    align-self: center;
}

.formInput label {
    white-space: nowrap;
    margin-right: 15px;
    color: white;
    font-weight: bold;
}

.formHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #0072b9;
    color: white;
    font-weight: bold;
    text-align: center;
    width: 100%;
    height: 60px;
}

.tagBox {
    font-size: 10px;
}

.lInput {
    flex-basis: 100%;
    font-size: 16px;
    padding-left: 23px;
    border-radius: 0 !important;
    height: 36px;
    border: none;
    background-image: none;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: grayscale(0.5) opacity(0.8);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.lInput::placeholder {
  color: black;
  font-weight: bolder;
}

.formBox {
    width: 100%;
}

.logBox {
    background-color: transparent;
    width: 464px;
    border-radius: 3px;
    height: 100%;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.formContent {
    display: flex;
    width: 80%;
    margin: auto;
    margin-top: 5vh;
    height: auto;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.formButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 36px;
    width: 35%;
    color: black;
    background-color: white;
    margin: auto;
    margin-top: 3vh;
    margin-bottom: 2vh;
    border-radius: 42px;
    cursor: pointer;
}

.formButton:active {
    background-color: white;
}

.formButton:active {
    background-color: white;
}

.copyright {
    color: white;
    position: absolute;
    bottom: 0;
    margin-bottom: 20px;
    text-align: center;
}

.copyright p {
    font-size: 12px;
    margin: 0;
    color: white;
}

.formButton p {
    color: black;
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    width: 100%;
    text-decoration: none !important;
}

.formButton:active p {
    color: #0084b6;
}

.buttonBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
}

.tagLine {
    font-size: 12px;
    color: white;
    /*     border-style: solid;
    border-bottom-width:1px;
    border-top-width:0;
    border-left-width:0;
    border-right-width: 0; */
    text-decoration: underline;
    border-color: white;
    margin: 0;
}

.tagLine:active {
    font-weight: bold;
}

.formImg {
    width: 108px;
    margin: auto;
    margin-top: 3vh;
}

.errorTag{
    font-size: 10px;
    color: white;
    width: 100%;
    margin-bottom: 15px;
    text-align: right;
}


.textBanner{
    padding-top: 15px;
    padding-bottom: 15px;
    background-image: linear-gradient(to left, rgba(242,78,43,0.2), rgba(242,78,43,0.8));
}

.textBanner p{
    color: white;
    text-align: center;
    font-size: 16px;
    margin: 0;
    font-weight: bold;

}


@media only screen and (max-width: 600px) {
    .pageBox {
        position: relative;
        display: block;
    }
    .logBox {
        width: 100%;
        height: 100%;
    }
    .formButton {
        width: 55%;
    }
}