<ion-header [translucent]="true">
    <app-header></app-header>
</ion-header>

<ion-content>
        <div class="logBox">
            <div class="listaFilter">
                <img class="pageImg" src="assets/11-notificaciones/noti.png"/>
                <app-form-notificaciones [editMode]="0"></app-form-notificaciones>
            </div>
        </div>
</ion-content>